<header>
    <h1>Calendar</h1>
</header>

<main>
    <section class="event">
        <div class="container-left">
            <div class="container-event">
                <div class="time" onclick="onclickStyleNote1()">
                    <p class="time-first">8:00</p>
                    <div class="note-style" id="note1" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>

                <div class="time" onclick="onclickStyleNote2()">
                    <p class="time-second">8:30</p>
                    <div class="note-style" id="note2" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
            </div>

            <div class="container-event">
                <div class="time" onclick="onclickStyleNote3()">
                    <p class="time-first">9:00</p>
                    <div class="note-style" id="note3" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
                <div class="time" onclick="onclickStyleNote4()">
                    <p class="time-second">9:30</p>
                    <div class="note-style" id="note4" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
            </div>

            <div class="container-event">
                <div class="time" onclick="onclickStyleNote5()">
                    <p class="time-first">10:00</p>
                    <div class="note-style" id="note5" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
                <div class="time" onclick="onclickStyleNote6()">
                    <p class="time-second">10:30</p>
                    <div class="note-style" id="note6" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
            </div>

            <div class="container-event">
                <div class="time" onclick="onclickStyleNote7()">
                    <p class="time-first">11:00</p>
                    <div class="note-style" id="note7" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
                <div class="time" onclick="onclickStyleNote8()">
                    <p class="time-second">11:30</p>
                    <div class="note-style" id="note8" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
            </div>

            <div class="container-event">
                <div class="time" onclick="onclickStyleNote9()">
                    <p class="time-first">12:00</p>
                    <div class="note-style" id="note9" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
                <div class="time" onclick="onclickStyleNote10()">
                    <p class="time-second">12:30</p>
                    <div class="note-style" id="note10" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
            </div>
        </div>


        <div class="container-right">
            <div class="container-event">
                <div class="time" onclick="onclickStyleNote11()">
                    <p class="time-first">1:00</p>
                    <div class="note-style" id="note11" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
                <div class="time" onclick="onclickStyleNote12()">
                    <p class="time-second">1:30</p>
                    <div class="note-style" id="note12" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
            </div>

            <div class="container-event">
                <div class="time" onclick="onclickStyleNote13()">
                    <p class="time-first">2:00</p>
                    <div class="note-style" id="note13" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
                <div class="time" onclick="onclickStyleNote14()">
                    <p class="time-second">2:30</p>
                    <div class="note-style" id="note14" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
            </div>

            <div class="container-event">
                <div class="time" onclick="onclickStyleNote15()">
                    <p class="time-first">3:00</p>
                    <div class="note-style" id="note15" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
                <div class="time" onclick="onclickStyleNote16()">
                    <p class="time-second">3:30</p>
                    <div class="note-style" id="note16" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
            </div>

            <div class="container-event">
                <div class="time" onclick="onclickStyleNote17()">
                    <p class="time-first">4:00</p>
                    <div class="note-style" id="note17" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
                <div class="time" onclick="onclickStyleNote18()">
                    <p class="time-second">4:30</p>
                    <div class="note-style" id="note18" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
            </div>

            <div class="container-event">
                <div class="time" onclick="onclickStyleNote19()">
                    <p class="time-first">5:00</p>
                    <div class="note-style" id="note19" contenteditable="true" onkeyup="saveNote(this.id)"></div>
                </div>
            </div>
        </div>

    </section>
</main>


<router-outlet></router-outlet>





